@charset "utf-8";

// Customization

// You can easily customize Bulma with your own variables.
// Just uncomment the following block to see the result.

/*
// 1. Import the initial variables
@import "../node_modules/bulma/sass/utilities/initial-variables";

// 2. Set your own initial variables
// Update the blue shade, used for links
$blue: #06bcef;
// Add pink and its invert
$pink: #ff8080;
$pink-invert: #fff;
// Update the sans-serif font family
$family-sans-serif: "Helvetica", "Arial", sans-serif;

// 3. Set the derived variables
// Use the new pink as the primary color
$primary: $pink;
$primary-invert: $pink-invert;

// 4. Import the rest of Bulma
*/

//**************** NAVBAR *****************************
//*****************************************************
.item-space-right{
  padding-right: 25px;
}
.nav-item{
  padding-top: 1rem;
  font-size:1.15em;
}
$short-nav: 1.8rem;
$navbar-height: $short-nav;

.nav-position{
  position: relative;
  top: 55px;
  left: 10.2vw;
}
.black-text {
  color: #000000;
}
.nav-pad{
  padding-bottom: 2.2rem;
}
//*****************************************************
//*****************************************************

//***************** INTRO TEXT ************************
//*****************************************************
@import "../node_modules/bulma/bulma";
html {
  background-color: $white;
}
.intro-lg-text{
  text-align: left;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  padding-bottom: 1.6rem;
  padding-top: 1.2rem;
}
.intro-body{
  text-align: left;
  color: #000000;
  font-family: inconsolata;
}
.sub-size{
  font-size: 21px;
}
.tall-lines{
  line-height: 1.6;
}
//*****************************************************
//*****************************************************

//**************** SCREEN QUERIES *********************
//*****************************************************

/* If the screen size is 768px wide or less, set the font-size of <div> to 8vw */
@media screen and (max-width: 768px) {
  div.screen-size-sm {
    font-size: 8vw;
  }
}
/* If the screen size is 992px wide or more, set the font-size of <div> to ~5.7rem */
@media screen and (min-width: 991px) {
  div.screen-size-lg {
    font-size: 5.4rem;
  }
}
/* If the screen size is 770px wide and less than 770px, set the font-size of <div> to 8.5vw */
@media screen and (max-width: 991px) and (min-width:769px) {
  div.screen-size-lg {
    font-size: 8.5vw;
  }
}
//*****************************************************
//*****************************************************

//**************** ICONS ******************************
//*****************************************************
.ico-pad{
  padding-left: 9vw;
}
.ico-pad-left{
  padding-left: 50px;
}
.ico-pad-right{
  padding-right: 50px;
}
.ico-pad-right-end{
  padding-right: 70px;
}
.icon {
  align-items: center;
  display: inline-flex;
  height: 1.5rem;
  width: 1.5rem;
}
a {
  text-decoration: none;
  color: 000000; }
  a:hover {
    color: #000000; }

.black-icon {
  color: #000000
}
//*****************************************************
//*****************************************************
.debug{
  border:1px solid red;
}
//**************** PROJECTS ***************************
//*****************************************************
.project-padding{
  padding-top: 2.5rem;
}

.tile-pad{
  padding-top: 3rem;
}
.black-tile{
  background-color: #000000
}
.white-tile-title{
  color: #FFFFFF;
  text-align: left;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 32px;
  }

.is-crimson {
  background-color: #990000;
}

.is-purple {
  background-color: #6f42c1;
}

.is-white-text {
  color: #FFFFFF
}
.title-tile {
  color: #FFFFFF;
  font-size: 1.65rem;
  font-weight: 600;
  line-height: 1.125; }

.title-tile-alt {
  color: #000000;
  font-size: 1.65rem;
  font-weight: 600;
  line-height: 1.125; }

.subtitle-tile {
  color: #FFFFFF;
  font-size: 1.10rem;
  font-weight: 400;
  line-height: 1.25;
}

.subtitle-tile-alt {
  color: #000000;
  font-size: 1.10rem;
  font-weight: 400;
  line-height: 1.25;
}

.project-title{
  padding-bottom: 1rem;
}

.project-section {
  padding: 0.5rem 1.5rem; }
  @media screen and (min-width: 1024px) {
    .section.is-medium {
      padding: 9rem 1.5rem; }
    .section.is-large {
      padding: 18rem 1.5rem; }
    }

.project-section-intro {
  padding-bottom:0.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

a.take-a-look {
  color: #FFFFFF !important;
  text-decoration: none !important;
  font-family: 'Shadows Into Light', cursive !important;
  font-size: 28px;
}
a.take-a-look-alt{
  color: #000000;
  font-size: 28px;
  text-decoration: none !important;
  font-family: 'Shadows Into Light', cursive !important;
}

.long-container{
  height: 800px;
}

img,
embed,
iframe,
object,
video {
  height: 100vh;
  max-width: auto; }

.button-padding-top{
  padding-top: 15px;
}
